<aside class="sidebar">
    <ul>
        <li><a href="#"><i class="fas fa-home"></i> Dashboard</a></li>
        <li><a href="#"><i class="fas fa-bullhorn"></i> Campaigns</a></li>
        <li><a href="#"><i class="fas fa-user"></i> Influencers</a></li>
        <li><a href="#"><i class="fas fa-users"></i> Clients</a></li>
        <li><a href="#"><i class="fas fa-chart-bar"></i> Reports</a></li>
        <li><a href="#" class="active"><i class="fas fa-calendar-alt"></i> Post Scheduling</a></li>
        <li><a href="#"><i class="fas fa-credit-card"></i> Payments</a></li>
        <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
    </ul>
</aside>