body {

    background: url('../assets/images/loginPage.jpg') no-repeat center center/cover;

}



/* ======= authentication Section (Updated) ======= */
.authentication-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 165px;
    /* نزل الفورم لتحت عشان الكلام في الصورة يبان */
}

.overlay {


    display: none;
}

.authentication-box {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.1);
    /* نفس شفافية ولون الـ navbar */
    padding: 40px;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    /* ظل ناعم وواقعي */
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.25);
    /* تحديد أبيض بسيط زي navbar */
}

.authentication-box h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
    color: #256D6F;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.15);

    /* عشان يبقى واضح على الخلفية */
}

.authentication-box label {
    display: block;
    margin: 10px 0 5px;
    color: #444;
    font-size: 14px;
}

.authentication-box input,
.authentication-box select {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    background: transparent;
    /* شفاف */
    color: #444;
    /* النص أبيض */
}

.authentication-box input::placeholder {
    color: #999;
    ;
    ;
}

.authentication-box select option {
    color: #444;
}

.authentication-box button {
    width: 100%;
    padding: 12px;
    background: #256D6F;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.authentication-box button:hover {
    background: #256D6F;
}

.links {
    text-align: center;
    margin-top: 18px;
}

.links a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
    margin: 0 6px;
    transition: 0.3s;
}

.links a:hover {
    text-decoration: underline;
}

.links span {
    color: #444;
    /* نفس لون النصوص */
    font-size: 14px;
    margin-right: 6px;
    /* مسافة بسيطة قبل كلمة Sign up */
}

/* لون وتنسيق كلمة Sign up فقط */
.links a:last-child {
    color: #256D6F;
    /* دهبي فاتح */
    font-weight: 600;
    /* تخليها بارزة شوية */
    text-decoration: none;
    transition: 0.3s;
}

/* تأثير عند مرور الماوس */
.links a:last-child:hover {
    text-decoration: underline;
    color: #256D6F;
    /* لون أفتح عند hover */
}