footer {
    text-align: center;
    padding: 15px;
    background: transparent;
    color: #eee;
    font-size: 14px;
    position: relative;
    border: none;
    box-shadow: none;
    outline: none;
}