body {
    color: #eee;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


.dashboard-container {
    display: flex;
    height: 100%;
}

.main-content {
    flex: 1;
    padding: 30px 50px;
    overflow-y: auto;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.topbar h1 {
    font-size: 24px;
    color: #256D6F;
}


.btn-add,
#savePostBtn {
    background: #256D6F;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    transition: 0.3s;
}

.btn-add:hover,
#savePostBtn:hover {
    background: #1d5a5c;
}


#calendar {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}


.fc-daygrid-day-number {
    color: #256D6F !important;

}

.fc-event-title {
    color: #256D6F !important;

}


.fc-timegrid-slot-label {
    color: #256D6F !important;

}

.fc-col-header-cell-cushion {
    color: #256D6F !important;
}


.fc-toolbar-title {
    color: #256D6F !important;
}